.page-header .panel.wrapper {
  background-color: #df9a38;
}

.action.primary,
.action.primary:active,
.action.primary:focus,
.action.primary:hover {
  background: #df9a38;
  border-color: #df9a38;
}

.product-info-main .stock.available {
  color: #df9a38;
}

@media screen and (min-width: 768px)
{
  .nav-sections,
  .navigation {
    background: transparent;
  }
}
