<style>
  .main{
    text-align: center;
    max-wdith: 800px;
  }

  .main h3 {
    line-height: 1.5em;
  }

  #family{
    max-width: 800px;
  }
</style>

<div class="main">
  <h3>We have 3 generations of skaters in our family. We love to visit new rinks and skate with new people. The skating community is important to us and we hope to share our love for skating to new people every day. It is rare that we don't spend our weekends at a local rink. We appreciate all forms of skating from speed, rhythm, jam, derby, and just rollig around at an open session. We want to provide a quality wheel for all your skating needs. All our new products will be made here in the U.S.A.</h3>
  <img id="family" src="{{media url="wysiwyg/FAMILY_MEMBERS.jpg"}}" alt="Anabolix Family" />
</div>
