<style>
.header-image { width: 100%; }

.jump-links { display: none; }

.skaters {
  margin-top: 25px;
}

h3.skaters-header {
  color: #333333;
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 40px;
  text-align: center;
}

.skater {
  margin: 0 auto;
  padding: 15px 0;
}

h4.skater-name {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.skater-image {
  margin: 10px auto;
  max-width: 400px;
  width: 100%;
}

.skater-image img {
  display: block;
  width: 100%;
}

.skater-bio {
  color: #333333;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .jump-links {
    color: #333333;
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  }

  .skater {
    max-width: 640px;
  }

  @supports (display: grid) {
    .skater {
      display: grid;
      grid-template-rows: repeat(2, min-content) 1fr;
      grid-template-columns: 400px 1fr;
      grid-column-gap: 20px;
      max-width: none;
    }

    .skater-image {
      grid-column: 1;
      grid-row: 1 / -1;
      margin: 0;
    }

    h4.skater-name {
      grid-column: 2;
      margin-bottom: 15px;
      text-align: left;
    }

    .skater-bio {
      grid-column: 2;
    }
  }
}
</style>

<img class="header-image" srcset="media/images/family/abx_familyheader.png 1x, media/images/family/abx_familyheader_2x.png 2x" src="media/images/family/abx_familyheader.png" alt="Anabolix Family">

<nav class="jump-links">
  Jump to:
  <a href="#speed_skaters">Speed</a> /
  <a href="#derby_skaters">Derby</a> /
  <a href="#jam_skaters">Jam</a> /
  <a href="#park_skaters">Park</a>
</nav>

<section class="skaters" id="speed_skaters">
  <h3 class="skaters-header">Speed Skaters</h3>
  <section class="skater">
    <h4 class="skater-name">
      Matt Kitzis
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/MattKitzis.png 1x, media/images/family/MattKitzis_2x.png 2x" src="media/images/family/MattKitzis.png" alt="Matt Kitzis">
    </div>
    <div class=skater-bio>
      <p>
I started speed skating at the age of 12. I loved the thrill of going fast in a sport that could be done individually or as a team. I continued skating until I was 17, I then took time away from the sport to go off to college. I continued to visit my local rink every few weeks over the next 6 or 7 years and out of the blue I was asked to start up a speed team.
      </p>
      <p>
I had never really thought about coaching until this point but am glad I had made the decision. I coach somewhere around 40 skaters currently and have also started competing again in the past few years. I enjoy teaching the youth how to be successful on and off the floor by teaching them the life lessons of working hard for something they truly want and helping them push through the barriers they face. It's the most rewarding feeling in the world to watch it all come together.
      </p>
    </div>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Kaylee Roepcke
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/KayleeRoepcke.png 1x, media/images/family/KayleeRoepcke_2x.png 2x" src="media/images/family/KayleeRoepcke.png" alt="Kaylee Roepcke">
    </div>
    <p class="skater-bio">
I got introduced to skating when I was around 5, and got into speed when I was 12. I've been competing at a national level for about 3 years now and I continue to work towards the goals I have set for myself.
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Colton Miller
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/ColtonMiller.png 1x, media/images/family/ColtonMiller_2x.png 2x" src="media/images/family/ColtonMiller.png" alt="Colton Miller">
    </div>
    <p class="skater-bio">
Born and Raised in Illinois skate for Illini under Lisa Dunham for USRSS and i skate for Stardust under Sam Johnson Trained on the side by Jarret Paul
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Houston Trim III
    </h4>
    <div class="skater-image">
      <img src="media/images/family/gray_pixel.jpg" alt="No Photo Yet">
    </div>
    <p class="skater-bio">
I am a father, husband and speed skater. Skating has been something that I've enjoyed since I was a kid and finally as an adult I am able to Inspire others around me, that you can do anything that you put your mind to!
    </p>
  </section>
</section>

<section class="skaters" id="derby_skaters">
  <h3 class="skaters-header">Derby Skaters</h3>
  <section class="skater">
    <h4 class="skater-name">
      Daniel McKown
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/DanielMcKown.png 1x, media/images/family/DanielMcKown_2x.png 2x" src="media/images/family/DanielMcKown.png" alt="Daniel McKown">
    </div>
    <p class="skater-bio">
My name is Floppy Joe and I've been skating roller derby for almost 5 years. I skate under both the JRDA and USARS rule sets. I'm currently a primary jammer for Indianapolis Junior Roller Derby, but I'm honored to say I was a member of JRDA Team USA East, a Great Lakes Junior Olympian, and a skater with the Midwest Allstars. I look forward to skating with the Race City Rebels when I turn 18. My favorite wheel by far is the Anabolix Moonstone.
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Madison Warren
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/MadisonWarren.png 1x, media/images/family/MadisonWarren_2x.png 2x" src="media/images/family/MadisonWarren.png" alt="Madison Warren">
    </div>
    <div class=skater-bio>
      <p>
I love all things roller skating! I am 20yrs old &amp; currently team captain for Race City Rebels Men's Roller Derby. I've played derby for almost 10years &amp; I've recently taken up aggressive quad skating &amp; fallen in love with it! Roller skating has truly saved my soul &lt;3
      </p>
      <p>
My favorite Anabolix wheel is the Sabres. I love their responsiveness on concrete &amp; wood floors. The dual hardness provides the perfect amount of slide &amp; grip which is super important for roller derby!
      </p>
    </div>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Rude Barbie
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/RudeBarbie.png 1x, media/images/family/RudeBarbie_2x.png 2x" src="media/images/family/RudeBarbie.png" alt="Rude Barbie">
    </div>
    <div class=skater-bio>
      <p>
Known for her explosive speed, and hard hitting style. Rude Barbie is widely regarded as one of Western Canada's premier skaters.
      </p>
      <p>
As a member of both Oil City Roller Derby and Chinook City Roller Derby. Barbie spends a great deal of time on the track playing and practicing. She always finds time to volunteer as a guest coach with GEJRDA, or mentor young skaters.
      </p>
    </div>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Sloan Conner
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/SloanConner.png 1x, media/images/family/SloanConner_2x.png 2x" src="media/images/family/SloanConner.png" alt="Sloan Conner">
    </div>
    <p class="skater-bio">
I started playing roller derby in 2011 with Indianapolis Junior Roller derby. I am currently the captain of the varsity team for Indianapolis. I participated in the JRDA AAU Junior Olympics in 2016 and in the 2018 Junior Roller derby World Cup. I've been playing USARS rules since 2017 and participated in the 2017 USARS Nationals. I venture into other disciplines of skating as well because of my love of skating. My favorite wheel is the Anabolix Ruby Heir on an aluminum hub. The Ruby's allow me to session skate, speed skate, as well as compete for roller derby on sport court, concrete, and wood.
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Sofia Hernandez
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/SofiaHernandez.png 1x, media/images/family/SofiaHernandez_2x.png 2x" src="media/images/family/SofiaHernandez.png" alt="Sofia Hernandez">
    </div>
    <div class=skater-bio>
      <p>
My name is Sofia Hernandez. I am from Chicago, IL and am 17 years old. I have played roller derby for about 5 years and will compete in speed skating for the first time in the 2018-2019 competitive season.
      </p>
      <p>
P.S. I love dogs
      </p>
    </div>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Sophia Swiderski
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/SophiaSwiderski.png 1x, media/images/family/SophiaSwiderski_2x.png 2x" src="media/images/family/SophiaSwiderski.png" alt="Sophia Swiderski">
    </div>
    <p class="skater-bio">
I started roller derby in December of 2014 and had never been on skates before that. After watching a practice, I knew derby is what I needed in my life, and that I wanted to be a jammer. I tried out for Team USA East in September of 2017, and participated as a team member in the Junior Roller Derby World Cup the summer of 2018. I am entering my freshman year of high school, where I am participating in a pre-engineering program.
    </p>
  </section>

    <section class="skater">
      <h4 class="skater-name">
        JT "Road Rage" Headley
      </h4>
      <div class="skater-image">
        <img srcset="media/images/family/JTHeadley.png 1x, media/images/family/JTHeadley_2x.png 2x" src="media/images/family/JTHeadley.png" alt="JT Headley">
      </div>
      <p class="skater-bio">--</p>
    </section>
</section>

<section class="skaters" id="jam_skaters">
  <h3 class="skaters-header">Jam Skaters</h3>
  <section class="skater">
    <h4 class="skater-name">
      Dylan Morton
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/DylanMorton.png 1x, media/images/family/DylanMorton_2x.png 2x" src="media/images/family/DylanMorton.png" alt="Dylan Morton">
    </div>
    <p class="skater-bio">
I've been skating for 8 years, and on top of that have started dancing. I've conpeted with, and against, the best skaters. I dedicate a lot of my time to skating and would not imagine my life without it!
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Jeremy Huddleston
    </h4>
    <div class="skater-image">
      <img src="media/images/family/gray_pixel.jpg" alt="No Photo Yet">
    </div>
    <p class="skater-bio">
I love to roller skate. I am attending The University of Southern Mississippi and I will be a Public Relations major. I can play the trumpet and I would definitely consider myself a band geek. I'm the spiritual type.
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Joshua Tucker
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/JoshuaTucker.png 1x, media/images/family/JoshuaTucker_2x.png 2x" src="media/images/family/JoshuaTucker.png" alt="Joshua Tucker">
    </div>
    <p class="skater-bio">
My name is Joshua Tucker I'm 25 years old I'm from Alabama and I love skating. I am the defending number one skating carhop in America!
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Quinn Murphy
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/QuinnMurphy.png 1x, media/images/family/QuinnMurphy_2x.png 2x" src="media/images/family/QuinnMurphy.png" alt="Quinn Murphy">
    </div>
    <p class="skater-bio">
Quinn is 12 years old and began jamskating at the early age of 6 and in 2016 at age 10 became a sponsored skater for Anabolix. He loves to skate and enjoys teaching and sharing the sport with others. In addition to Jamskating he also enjoys aggressive skating in ramps and bowls
    </p>
  </section>

  <section class="skater">
    <h4 class="skater-name">
      Will "Bubb" Osborne
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/WilliamOsborne.png 1x, media/images/family/WilliamOsborne_2x.png 2x" src="media/images/family/WilliamOsborne.png" alt="Will Osborne">
    </div>
    <p class="skater-bio">
Im 31 years old, from Florence, KY. I started jamskating in competitions in 2003. i have been jamskating for over 15 years! Im a seasoned veteran that loves to help the sport grow by teaching others! You will usually see me in the rink with my son Theo!
    </p>
  </section>
  <section class="skater">
    <h4 class="skater-name">
      Tyler Hassell
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/TylerHassell.png 1x, media/images/family/TylerHassell_2x.png 2x" src="media/images/family/TylerHassell.png" alt="Tyler Hassell">
    </div>
    <p class="skater-bio">--</p>
  </section>
</section>

<section class="skaters" id="park_skaters">
  <h3 class="skaters-header">Park / Aggressive Skaters</h3>
  <section class="skater">
    <h4 class="skater-name">
      Lauren Strecker
    </h4>
    <div class="skater-image">
      <img srcset="media/images/family/LaurenStreker.png 1x, media/images/family/LaurenStreker_2x.png 2x" src="media/images/family/LaurenStreker.png" alt="Lauren Strecker">
    </div>
    <p class="skater-bio">
I've been skating for 8 years, and on top of that have started dancing. I've competed with, and against, the best skaters. I dedicate a lot of my time to skating and would not imagine my life without it!
    </p>
  </section>
</section>
